{% extends 'crm_web/base.html' %}
{% load static %}

{% block main %}
    <h1>Профиль пользователя "{{ request.user }}"</h1>
    <br>
    <a href="{% url 'createPost' %}"
       class="btn btn-primary">Добавить запись</a>
    <br>
    <hr>
    <h3>Список опубликованных отчетов за текущий месяц</h3>

    {% if report %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">ФИО</th>
                <th scope="col">Адрес</th>
                <th scope="col">Выручка</th>
                <th scope="col">Корректировка</th>
            </tr>
            </thead>
            <tbody>
            {% for itm in report %}
                {% if itm.created_by|slugify == current_user|slugify %}
                    {% if date_today|date:"Y-m" == itm.created_at|date:"Y-m" %}
                        <tr>
                            <th scope="row">{{ itm.created_at }}</th>
                            <td>{{ itm.fio }}</td>
                            <td>{{ itm.address }}</td>
                            <td class="summ__today">{{ itm.revenue }}</td>
                            <td>
                                {% if date_today|date:"Y-m" ==  itm.created_at|date:"Y-m" %}
                                    <a href="{% url 'updatePost' pk=itm.pk %}" class="btn btn-danger">Изменить
                                        запись</a>
                                {% else %}
                                    <p>Корректировать нельзя</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}

            {% endfor %}
            <hr>
            <br>
            <h5 id="summToday"></h5>
            <br>
            <div class="profile__btn">
                <a href="{% url 'profile' %}" class="btn btn-primary">Отчеты за текущий день</a>
                <a href="{% url 'profile_month' %}" class="btn btn-primary">Отчеты за текущий месяц</a>
                <a href="{% url 'profile_all' %}" class="btn btn-primary">Отчеты за весь период</a>
            </div>
            </tbody>
        </table>
    {% else %}
        <h3>Записей нет</h3>
    {% endif %}


{% endblock %}